*.dtbcache
*.suo
*.user
*.bin
bin/
obj/
packages/
project.lock.json
sqlite3/
.idea/
*.v2
*.v5
DesignTimeBuild/
v17/
project-colors.json
ProjectEvaluation/
FileContentIndex/
CopilotIndices/
copilot-chat/
/Voyage/Server/Voyage.SQLite.db-shm
/Voyage/Server/Voyage.SQLite.db-wal
/Voyage/Server/Voyage.SQLite.db
/Voyage/Server/WebWM/wwwroot/assets/*